body{
    background-color:rgba(231, 230, 229, 0.87);

    margin: 0%;



}

header{

    
    background-image: url(../images/banner.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 10%;
    
    height: 40vh;

    
    
}
header h1{
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
    font-size: 500%;
    margin: 0%;
    padding:0%;
    width: auto;
}

header p{
    color: whitesmoke;
    margin: 0%;
}
header hr{
    width: 50%;
    margin: 2%;
}

/* Section 1 */

section:first-of-type{
    text-align: center;
    display: flex;
    margin: 5% 5%;
    padding: 5%;

    background-color: whitesmoke;
}

section:first-of-type i{
    border: solid 2px black;
    border-radius: 50%;
    padding: 2%;
}
/* Section 2 Cards */

.boite1 div span{
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8% 10%;
    
}
.boite2 div span{
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8% 10%;
}

.boite1,.boite2{
    display: flex;
    justify-content: center;

}
.boite1 div{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    margin: 1%;
    width: 40%;
    
}

.boite1 div button{
    width: 20%;
    margin: auto;
}

.boite2 div{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    margin: 1%;
    width: 35%;
    
}

.boite2 div button{
    width: 20%;
    margin: auto;
}
section .boite1,.boite2 p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;
    font-size: 90%;
    padding: 5% 5%;
    text-align: center;
    margin: 0% 2%;

}

section button{
    background-color: whitesmoke;
    padding: 1% 2%;
    margin-top: 5%;
}

img:hover{
    -webkit-transform: scale(1.15);
        transform: scale(1.15);
        filter:blur(1px);
}
/* Section3 */

section:nth-of-type(3){
    text-align: center;
    margin: auto;
}

h2:last-of-type{
    margin: 2%;
}

section:nth-of-type(3) button{
    margin: 0%;
    
}
.ligne{
   width: 10%; height: 2%;
   background-color: black;
    margin: 5% auto;

}

/* footer+rsx */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

footer div{
    text-align: center;
   width: 100%;
}
div i{
    
    padding: 0% 0.5%;
}
